.splash__screen {
	width: 100%;
	max-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: opacity 3s 4s;
}

.splash__screen__faded {
	opacity: 0;
}

.top {
	display: flex;
}

.top img:first-child {
	position: absolute;
	top: 0;
	left: 0;
	height: 30vh;
	width: 80vw;
}

.top img:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	height: 30vh;
	width: 80vw;
}

.logo {
	height: 100vh;
	width: 22.8vw;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-self: center;
}

.splash__screen > .doctors__illustration {
	width: calc(100vw - 40px);
	max-width: 300px;
	position: absolute;
	bottom: 0;
}

.bottom__ellipse {
	position: absolute;
	bottom: 0;
	left: 5%;
	right: 5%;
	margin: auto;
}

@media (min-width: 640px) {
	.top {
		justify-content: space-between;
	}
	.top img:first-child {
		left: 5vw;
	}
	.top img:nth-child(2) {
		right: 5vw;
	}
}
